"aa_vue__file": {
"prefix": "aa_vue__file",
"body": [
"<el-form-item :label=\"$t('title.schemeName')\">",
"<el-switch v-model=\"ruleForm.disable\" :active-value=\"1\" :inactive-value=\"0\" />",
"</el-form-item>",
""
],
"description": "aa_vue__file"
},
