"el-form-item_switch__html": {
"prefix": "el-form-item_switch__html",
"body": [
"<el-form-item :label=\"$t('title.schemeName')\">",
"<el-switch v-model=\"ruleForm.disable\" :active-value=\"1\" :inactive-value=\"0\" />",
"</el-form-item>",
""
],
"description": "el-form-item_switch__html"
},
